section:nth-of-type(odd) {
  /*background-color: #f7f7f7;*/
}
section:nth-of-type(even) {
  background-color: #f7f7f7;
}
#faq .section-heading {
  margin-bottom: 40px;
}
#faq .card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
  padding: 15px;
  margin: 10px 0;
}
#faq .card .question {
  border-bottom: 1px solid #c12942;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
#faq .card .answer {
  font-size: 16px;
}