#schedule .left-align,
#schedule .right-align {
  text-align: center;
}
@media (min-width: 767px) {
  #schedule .right-align {
    text-align: right;
  }
  #schedule .left-align {
    text-align: left;
  }
}
#schedule .schedule-title {
  font-size: 32px;
  margin-bottom: 20px;
}
#schedule .schedule-item {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#schedule .schedule-item .time {
  display: inline-block;
  font-weight: 400;
}
#schedule .schedule-item .location {
  font-size: 18px;
}
#schedule .schedule-item .activity {
  display: inline-block;
  font-size: 20px;
}
#judges .judge {
  padding: 20px 10px;
}
#judges .judge-img-link {
  display: inline-block;
  margin: 0 20px;
}
#judges .judge-img {
  width: 100%;
  -webkit-transition: opacity 200ms;
}
#judges .judge-img:hover {
  opacity: 0.5;
}
@media (min-width: 992px) {
  #judges .judge-img-link {
    margin: 0 30px;
  }
}
@media (min-width: 1200px) {
  #judges .judge-img-link {
    margin: 0 50px;
  }
}
#judges .judge-name {
  font-size: 22px;
  margin-top: 10px;
}
#judges .judge-info {
  font-size: 18px;
}
#judges .judge-info a {
  color: inherit;
}
@media (min-width: 768px) {
  #judges .custom-text-nowrap {
    white-space: normal;
  }
}