section:nth-of-type(even) {
  background-color: #f7f7f7;
}
#pitches .card .number {
    font-weight: 400;
}
#pitches .card .title {
  border-bottom: 1px solid #c12942;
  font-size: 22px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
#pitches .card .text {
  font-size: 16px;
}
#pitches .card .pitcher-info {
  font-size: 16px;
  margin: 10px 0;
}
#pitches .card .tags {
  margin-top: 5px;
}
#pitches .card .tags .tag {
  background-color: #FA8F5B;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  padding: 3px 15px;
}